body {
  font-family: 'Playfair Display SC', serif;
  background: url("assets/images/theme.jpg")
}

.triviaZone {
  font-family: 'Slabo 27px', serif;
}

.triviaQuestion {
  font-weight: bold;
}

#triviaStartScreen {
  margin-top: 15%;
}

#results {
  font-family: 'Slabo 27px', serif;
}